environment/

odontostar/__pycache__

odontostar/core/__pycache__
odontostar/core/migrations

odontostar/odontostar/__pycache__
odontostar/odontostar/migrations

odontostar/services/__pycache__
odontostar/services/migrations

odontostar/blog/__pycache__
odontostar/blog/migrations

odontostar/social/__pycache__
odontostar/social/migrations