/* estolso generales */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.blog-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    max-width: 1300px;
}

.blog-container h2{
    text-transform: uppercase;
    text-align: center;
    margin: 20px 0;
    font-size: 40px;
}

.container-card-blog{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: flex-start;
    flex-flow: row wrap;
    gap: 50px;
    padding-bottom: 30px;
}

.card-blog{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 500px;
    border: 1px solid rgba(0, 0, 0, 0.192);
    border-radius: 10px;

}

.img-blog{
    width: 100%;
    max-width: 500px;
    border-radius: 10px 10px 0 0;

}

.card-blog h3{
    text-align: center;
    padding: 10px 0;
    font-size: 20px;
    text-transform: uppercase;
    background-color: #1086ca;
    width: 100%;
    color: white;
}

.content-blog{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.card-blog p{
    display: inline;
    padding: 0 10px;
    text-align: justify;
    margin-bottom: 10px;
    height: 100%;
}


.card-blog a{
    display: flex;
    justify-content: start;
    padding: 10px;
    color: #1086ca;
}



/* Blog detail */

.post-container{
    width: 90%;
    margin: 20px auto;
}



.post{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    max-width: 1200px;
    background-color: rgb(2,160,233,0.2);
    padding-top: 20px;
}

.img-post{
    display: flex;
    margin: 0 auto;
    width: 100%;
    max-width: 800px;
}

.post h2{
    text-transform: uppercase;
    font-size: 40px;
    text-align: center;
    margin: 20px 0;
}


.content-post{
    font-size: 1.2rem;
    line-height: 2rem;
}

.post-content{
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    text-align: justify;
}

.date-post{
    display: flex;
    justify-content: end;
    color: rgba(0, 0, 0, 0.377);
}

.post i{
    display: flex;
    justify-content: end;
    margin-top: 40px;
    margin-bottom: 20px;
    margin-right: 10px;
    font-size: 40px;
    color: #0577b9;
}

@media screen and (max-width: 869px) {
    .container-card-blog{
        grid-template-columns: repeat(1, 1fr);
    }
}