{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'core/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'services/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/style.css' %}">
    <title>Odontostar</title>
</head>
<body>
    <header>
        <img src="{% static 'core/img/logo.jpeg' %}" alt="logo-odontostar" class="img-logo">
        <h1 class="title-logo">Odonto Star</h1>
    </header>
    <nav>
        <ul>
            <li><a href="{% url 'home' %}">inicio</a></li>
            <li><a href="{% url 'services' %}">Servicios</a></li>
            <li><a href="{% url 'posts' %}">blog</a></li>
            <li><a href="{% url 'contact' %}">contacto</a></li>
        </ul>
    </nav>
    {% block content %}

    {% endblock %}
    <footer>
        <div class="info-footer">
            <p>C/Paseo de los Locutores, Esq. Seminario, #127, Sto. Dgo., Rep. Dom.</p>
            <p><i class="fa-solid fa-phone"></i> (809) 222-3344</p>
            <p>info@odontostar.com</p>
        </div>
        <div class="redes">
            {% if LINK_FACEBOOK %}
                <a href="{{LINK_FACEBOOK}}" target=_blank><i class="fa-brands fa-square-facebook"></i></a>
            {% endif %}
            {% if LINK_TWITTER %}
                <a href="{{LINK_TWITTER}}" target=_blank> <i class="fa-brands fa-twitter"></i></a>
            {% endif %}
            
            {% if LINK_INSTAGRAM %}
                <a href="{{LINK_INSTAGRAM}}" target=_blank><i class="fa-brands fa-instagram"></i></a>
            {% endif %}
            
        </div>
        <p> &copy; 2023 Odontostar. Todos los derechos reservados </p>
    </footer>
    <script src="https://kit.fontawesome.com/26f4190241.js" crossorigin="anonymous"></script>
</body>
</html>